body {
  font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}


.header-container {
    background-color:#1F2937;
    display:flex;
    outline:2px solid red;
    padding:15px;
    justify-content: space-around;
    
}

.header-logo {
    display:flex;
    font-size:24px;
    font-weight:900;
    color: #F9FAF8;
    align-items:center;
}

.header-links * {
    display:flex;
    font-size:18px;
    color:#E5E7EB;
    gap:36px;
    align-items: center;
    outline:2px solid green;
    width:500px;
    text-decoration: none;
    flex-wrap:nowrap;
    justify-content: center;

}


.intro-container {
    display:flex;
    background-color:#1F2937;
    color:#E5E7EB;
    height:500px;
    justify-content:center;
    align-items:center;
}

.intro-block {
    display:flex;
    color:#E5E7EB;
    align-items:center;
    height:75%;
    width:59%;
    outline:2px solid green;

}

.intro-title {
    display:flex;
    color:#E5E7EB;
}

.intro-text {
    display:flex;
    color:#E5E7EB
}

.intro-img {
    display:flex;
}


.intro-title {
    color:#1F2937
}