body {
  font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}


.header-container {
    background-color:#1F2937;
    display:flex;
    /* outline:2px solid red; */
    padding:15px;
    justify-content: space-around;
    
}

.header-logo {
    display:flex;
    font-size:24px;
    font-weight:900;
    color: #F9FAF8;
    align-items:center;
}

.header-links * {
    display:inline-flex;
    font-size:18px;
    color:#E5E7EB;
    gap:36px;
    align-items: center;
    /* outline:2px solid green; */
    width:90px;
    text-decoration: none;
    flex-wrap:nowrap;
    justify-content: center;

}


.intro-container {
    display:flex;
    background-color:#1F2937;
    color:#E5E7EB;
    height:500px;
    justify-content:center;
    align-items:center;

}

.intro-block {
    display:flex;
    color:#E5E7EB;
    align-items:center;
    height:75%;
    width:30%;
    /* outline:2px solid green; */
    justify-content:flex-start;
    flex-wrap:wrap;
    
    
}

.intro-title {
    display:flex;
    color:#E5E7EB;
    font-weight:900;
    font-size:48px;
    /* outline:2px solid orange; */
    width:78%;
    flex-wrap:wrap;
    /* margin-bottom:-7.5%; */
    flex-shrink:1
    
}

.intro-text {
    display:flex;
    color: #e5e7eb;
    font-size:18px;
    /* outline:2px solid red; */
    width:100%;
    align-items:flex-start;
    text-align:start;
    flex-wrap:wrap;
    padding-right:35%;
    flex-shrink:1

}

.intro-button {
    display:flex;
    align-items:center;
    padding-right:24px;
    padding-left:24px;
    padding-top:8px;
    padding-bottom:8px;
    /* outline:2px solid yellow; */
    font-size:18px;
    font-weight:900;
    color:#E5E7EB;
    background-color:#3882F6;
    border:none;
    border-radius: 10px;
    

    
    
}

.intro-img {
    display:flex;
    /* width: 30%; */
    /* height:75.8%; */


}

img {
    width:250px;
    height:auto
}

.random-info-container {
    display:flex;
    background-color:#ffffff;
    height:500px;
    justify-content:center;
    align-items:center;
    /* outline:2px solid red; */

    
    
}

.random-info-block-container {
    display:flex;
    color:#1F2937;
    font-size:36px;
    font-weight:900;
    justify-content: center;
    height:75%;
    width:47.5%;
    align-items:flex-start;
    /* outline:2px solid blue; */
    flex-wrap:wrap

}

.random-info-title {
    display:flex;
    /* outline:2px solid lightsalmon; */
    width:100%;
    text-align: center;
    justify-content:center;
}

.random-info-block {
    display:flex;
    flex-direction:column;
    /* outline:2px solid green; */
    padding:35px;
    flex-wrap:nowrap;
    align-items: center;

}

.random-info-img {
    display:flex;
    /* outline:2px solid red; */
    width:150px;
    height:150px;
    border-radius:12px;
    border:5px solid #3882F6;
    margin-bottom:10px;


}

.random-info-text {
    display:flex;
    /* outline:2px solid pink; */
    font-weight:900;
    font-size:18px;
    width:150px;
    text-align:center;
    color:rgba(97, 92, 92, 0.863);
/* text-shadow:1px 1px #e5e7eb */

}

.quote-container {
    display:flex;
    flex-direction:column;
    height:500px;
    background-color:#E5E7EB;
    justify-content:center;
    align-items:center;
}

.quote-block {
    display:flex;
    color:#1F2937;
    font-size:36px;
    font-weight:500;
    font-style:italic;
    justify-content: center;
    height:max-content;
    width:35%;
    /* outline:2px solid red; */
    align-items:center
}

.quote-name-block {
    display:flex;
    color:#1F2937;
    width:30%;
    height:max-content;
    font-size:24px;
    font-weight:900;
    /* outline:2px solid yellow; */
    justify-content: flex-end;
    padding-top:8px

}

.signup-container {
    display:flex;
    height:500px;
    background-color:white;

}

.signup-block {
    display:flex;
}

.footer {
    display:flex;
}

.footer-text {
    display:flex;

}